<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.mapper.TUserMapper">
  <resultMap id="BaseResultMap" type="example.model.TUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="rick_name" jdbcType="VARCHAR" property="rickName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, rick_name, sex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="example.model.TUser">
    insert into t_user (id, user_name, rick_name, 
      sex)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{rickName,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="example.model.TUser">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="rickName != null">
        rick_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="rickName != null">
        #{rickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="example.model.TUser">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="rickName != null">
        rick_name = #{rickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="example.model.TUser">
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      rick_name = #{rickName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>